// ===================================

//utilties and place holders

// ===================================
 

%utility--position--relative {
position: relative;
}

%utility--border {
border: 3px solid red;
}

%utility--text-capitalize {
 text-transform: capitalize;
}
 

%utility--text-uppercase {
  text-transform: uppercase;
}


.utility--text-capitalize{
  @extend %utility--text-capitalize;
}


.utility--text-uppercase{
  @extend %utility--text-uppercase;
}


.utility--position--relative{
  @extend %utility--position--relative;
}

.utility--border {
 @extend %utility--border;
}

 

.width--full{
width:100%;
} 


// accessible but hidden: for form labels ect #ifneeded
.content--hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
 



