///////////////////
//start input-test-with-number
/////////////////////

.input--text-with-number {
	display: block;
}
.input--label--text {
	display: inline;

	.label--hint--link {
		display: inline;
		margin-left: 10%;
		color: $theme--lightblue;
	}
	.label--hint--link-text {
		color: $theme--lightblue;
	}
	.input--label--text--description {
		// here
	}
	.input--description--graphic {
		display: block;
	}
}